{% extends 'fullwidth.html' %}
{% load standard_form highlight %}
{% block content %}
	<form action="." method="get">
	{% standard_form form %}
	</form>
	<ul class="search-result-list">
		{% for result in page_obj.object_list %}
			<li>
				<h3><a href="{{ result.url }}">{{ result.title }}</a></h3>
				{% if result.text %}
					<p>{% highlight result.text with request.GET.q %}</p>
				{% endif %}
				<a href="{{ result.url }}">{{ result.url }}</a>
			</li>
		{% endfor %}
	</ul>
	{% include 'aldryn_search/inc/pagination.html' with obj_string=_('results') %}
{% endblock %}